<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Blog Post</title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <ul class="nav nav-pills">
    <li class="nav-item">
        <form action="/" method="GET">
            <button type="submit" class="nav-link active" aria-current="page">Go Back</button>
        </form>
    </li> </ul>
  <form action="/home" method="POST">
    
    <textarea placeholder="Title" name="title" rows="2" cols="30"></textarea>

    <textarea placeholder="Story.." name="content" rows="4" cols="50" ></textarea>

    <input type="submit" value="Create"> 
  </form>
</body>
  <%- include("partials/footer.ejs") %>
</html>