.full-width-bg{
    background-image: url(images/bg.jpg);
    height: 500px;
}

html, body {
    margin: 0;
    padding: 0;
  }

.fw-bold{
    margin-top: 35px;
    font-size: 50px;
}

.circle-img {
    width: 150px;        
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;   
    display: block;

  }

#main-heading{
    font-family:'tangerine',serif;
}

.custom-btn {
  background-color:bisque;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

body h2{
  font-size: 2rem;
  margin-bottom: 1rem;
  color:skyblue;
}




p {
  font-size: 1.1rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
  font-weight: bold;
}


.custom-btn:hover {
  background-color: #45a049;
}

footer{
  background-color:skyblue;

}

@media (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
    
  }

  h3 {
    font-size: 1.2rem;
  }
}

